.card {
  border-radius: 15px;
  box-shadow: 6px 5px 8px 2px #000;
  height: 150px;
  width: 150px;
  margin: 15px;
  
}

.image {
  background-color: rgb(78, 78, 63);
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}
.title-card {
  background-color: beige;
  height:15%;
  text-align: center;
}