.image-cover {
  height: 80vh;
  width: 100%;
}

.title {
  position: absolute;
  font-family: cursive;
  color: #38AECC;
  font-size: 3rem;
  top: 35vh;
  bottom: 30vh;
  left: 27vw;
  right: 27vw;
}

