/*SERVICELIST*/
.title-servicelist {
  margin: 20px 0;
  text-align: center;
  font-family: cursive;
  color: #38AECC;
  font-size: 3rem;
}

.photo-card-service {
  text-align: left;
  font-family: cursive;
  border: 1px solid lightblue;
  margin-bottom: 20px;
  padding: 0 20px;
}

.img-container-service {
  display: flex;
    align-content: center;
    align-items: center;
    margin: 20px;
}

.thumbnail {
  padding: 10px;
}

.img-container-service h4 {
  margin-left: 2vw;
}

.img-container-service p {
  margin-left: 1vw;
}

/* POSTLIST */

.title-photolist {
  margin: 20px 0;
  text-align: center;
  font-family: cursive;
  color: #38AECC;
  font-size: 3rem;
}

.photo-card {
  text-align: left;
  font-family: cursive;
  border: 1px solid lightblue;
  margin-bottom: 20px;
  padding: 0 20px;
}

.thumbnail {
  padding: 10px;
}

.photo-box {
  margin: 0 auto;
}

