
.title-photolist {
  margin-bottom: 20px;
}

.photo-card {
  text-align: left;
  font-family: cursive;
  border: 1px solid lightblue;
  margin-bottom: 20px;
  padding: 0 20px;
}

.img-container {
  display: flex;
}

.thumbnail {
  padding: 10px;
}