*{margin:0; padding:0}


/*  NAVBAR STYLES  */
.navbar, .footer {
  display: flex;
  justify-content: space-between;
  background-color: #38AECC;
  padding: 10px 16px;
  color: white;
}

.navbar-logo {
  color:#FDFFFC;
  font-size: 20px;
}

.navbar-menu, .footer-menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 0;
  align-items: center;
}

.navbar-menu li a, .footer-menu li a {
  text-decoration: none;
  color: #FDFFFC;
}

.image-logo {
  height: 10vh;
}

/*  FOOTER STYLES  */

.footer-menu li a {
  margin: 0 25px;
}

